// CSS general rules //

html, body {
  background-color: #2c2828;
}

a {
  text-decoration: none;
}

h2, h3, h4, h5, h6 { 
  color: #fff;
  font-weight: 700;
}

html,
body {
  background: #1f2122;
}

::selection {
  color: #fff;
  background: #e75e8d;
}

nav {
  background: linear-gradient(210deg, rgb(151, 104, 153) 20.25%, #27292a 100%);
  animation: fadeIn 2s ease-in-out 0.5s both, moveUp 1s ease-out 0.5s both;
}

#logo img {
  animation: fadeIn 2s ease-in-out both, moveUp 1s ease-in-out both;
}

.nav-link:hover {
  color:#ec6091 !important;
}

header {
  animation: fadeIn 2s ease-in-out 1s both, moveUp 1s ease-in-out 1.2s both;
}

.page-content {
  margin-top: 60px;
  padding: 55px;
  background-color: #27292a;
  border-radius: 20px;
}

.main-banner {
  background-image: url(../images/banner.jpg);
  background-position: center center;
  background-size: cover;
  min-height: 380px;
  padding: 70px 60px;
  border-radius: 25px;
  box-shadow: 0 1rem 1rem 0 rgba(77, 28, 105, 0.377);
}

.main-banner h6 {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 25px;
}

.main-banner h4 {
  margin-bottom: 25px;
  font-size: 45px;
  text-transform: uppercase;
}

.main-banner h4 em {
  color: #ec6091;
  font-style: normal;
}

.main-button a {
  color: #fff;
  background-color: #e75e8d;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  padding: 12px 30px;
  position: relative;
  overflow: hidden;
  border-radius: 25px;
}

.main-button a:hover {
  color: #e75e8d;
  background-color: #fff;
}

section {
  margin-top: 60px;
  margin-bottom: 50px;
  padding: 55px;
  background-color: #27292a;
  border-radius: 20px;;
}

.heading-section h4 {
  margin-bottom: 30px;
  color: #ec6091;
  font-size: 34px;
  text-decoration: none;
}

.card {
	border-color: rgb(151, 104, 153);
  border-radius: 5px;
  box-shadow: 0 1.5rem 1.5rem 0px rgba(181, 78, 240, 0.377);
  -o-object-fit: cover;
  object-fit: cover;
  transition: 0.5 transform ease;
}

.card:hover {
  transform: scale(1.1);
}

.card h5 {
  color:#ec6091;
}

footer {
  background: linear-gradient(210deg, #27292a 20.25%, rgb(151, 104, 153) 100%);
  height: 20vh;
  justify-content: center;
  position: relative;
}

.social-icon {
    opacity: 0.7;
}

.social-icon:hover {
    filter: invert(50%) sepia(40%) saturate(3500%) hue-rotate(255deg) contrast(90%);
}  

.modal-content {
  background: linear-gradient(300deg, #d786f7 10.25%, #e2b7c7 40%, #cebfbf 100%);
  border-radius: 30px;
  box-shadow: 0 0.7rem 0.7rem 0 #2a2a2b;
}

.modal-title {
  animation: fadeIn 2s ease-in-out 0.5s both, moveUp 1s ease-out 0.5s both;
}

.modal-body h3 {
  animation: fadeIn 2s ease-in-out 0.5s both;
}

// Checkout //

.checkout-items .fas,
.checkout-items .far {
  color: #e75e8d;
  animation: fadeIn 2s ease-in-out 0.5s both;
}

.form-label {
  color:rgb(151, 104, 153);
}

.form-control {
  box-shadow: 0 0.5rem 0.3rem 0 #93899688;
}

.btn-light:hover {
  background-color: #fff;
  color: #e75e8d;
}

// Animations //

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes moveUp {
  0% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
  }
}